
.w1200{
    width: 1200px;
    margin: 0 auto;
}
.head{
    height: 38px;
    background: #f3f3f3;
    display: block;
}
.head1 ul{
    width: 1200px;
    margin: 0 auto;
}
.phone a{
    margin-left: 39px;
    background: transparent;
}
.head1 li{
    height: 38px;
    float: left;
}
.head1{
    font-family: 微软雅黑;
    font-size: 14px;
    line-height: 38px;
    width: 1200px;
    height: 38px;
    margin: 0px auto;
    background: url("../images/phone.jpg") no-repeat;

}
.head1 a{
    float: left;
    margin-right: 28px;
    color: #656565;
}
.head1 p{
    float: right;
    margin-right: 139px;
    color: #656565;
}
.neck{
    height: 92px;
    background: white;
    display: block;
}
.neck a{
    margin-top: 21px;
    float: left;
    margin-right: 177px;
}
.neck p{
    margin-top: 24px;
    float: left;
}

.input1{
    margin-top: 32px;
    margin-left: 53px;
    padding: 0;
    width: 278px;
    height: 25px;
    font-size: 12px;
    padding-top: 2px;
    border: 1px solid #e6e6e6;
    color: #e6e6e6;
}
.input2{
    margin-top: 32px;
    padding: 0;
    border: 2px solid #ff4400;
    height: 29px;
    width: 69px;
    background-color: #ff4400;
    font-size: 16px;
    color: white;
}
.chest{
    height: 43px;
    background-color: #ff4400;
    display: block;
}
.chest dt{
    font-size: 18px;
    line-height:43px;
    float: left;
    width: 135px;
    height: 43px;
    text-align: center;
    color: white;
}
.chest p{
    float: left;
    margin-top: 8px;
}
.chest img{
    margin-left: 86px;
    text-align: center;
}
.chest a{
    margin-left: 19px;
    font-size: 18px;
    color: white;
}
.chest dt:hover{ background: #e53e01}
.backg{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 100;
    display: none;
}
.login{
    width: 562px;
    height: 285px;
    border: 1px solid #dcdcdc;
    background: white;
    display: none;
    padding-top: 8px;
    padding-right: 8px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -281px;
    margin-top: -142px;
    z-index: 500;
}
.end a{
    margin-left: 100px;
    width: 22px;
    height: 21px;
    background: #c8c8c8;
    color: white;
    float: right;
    text-align: center;
    font-size: 11px;
    line-height: 21px;
}
.log_left{
    width: 192px;
    height: 223px;
    padding-top: 23px;
    font-size: 16px;
    line-height: 49px;
    color: #474747;
    margin-left: 27px;
    float: left;
}
.log_left p{
    margin-left: 27px;
    margin-top: 17px;
    width: 182px;
    height: 182px;
    background: url("../images/loginer.png") no-repeat;
    position: absolute;
    left: 5px;
    top: 64px;
}
.log_right{
    width: 282px;
    height: 223px;
    font-size: 16px;
    color: #474747;
    float: right;
    margin-right: 27px;
    margin-top: 15px;
}
.admin {
    margin-top: 12px;
    background: url("../images/loginper.png") no-repeat;
    float: left;
}
.admin input{
    padding-left: 9px;
    margin-left: 34px;
    font-size: 12px;
    color: #757575;
    width: 236px;
    height: 32px;
    border: 1px solid #c8c8c8;
}
.pass{
    margin-top: 11px;
    background: url("../images/loginsuo.png") no-repeat;
    float: left;
}
.pass input{
    padding-left: 9px;
    margin-left: 34px;
    font-size: 12px;
    color: #757575;
    width: 236px;
    height: 32px;
    border: 1px solid #c8c8c8;
}
.forget{
    width: 278px;
    height: 14px;
    margin-top: 105px;
    font-size: 12px;
    color: #474747;
}
.forget a{
    float: right;
    color: #474747;
}
.loginkey{
    width: 282px;
    height: 40px;
    background: #ff4401;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-top: 18px;
}
.loginkey a{
    color: white;
}
.logindown{
    width: 281px;
    height: 21px;
    margin-top: 9px;
    padding-left: 1px;
    background: url("../images/xinlang.png") no-repeat;
}
.logindown a{
    font-size: 12px;
    color: #474747;
    margin-left: 28px;
    float: left;
    margin-top: 1px;
}
.logindown p a{
    margin-left: 0px;
    float: right;
}
.body0{
    height: 3374px;
    background: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 80px;
}
.body1{
    width: 1170px;
    height: 467px;
    padding-top: 21px;
    padding-left: 30px;
    margin: 0px auto;
    background: white;
}
.bo_he{
    width: 374px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #474747;
}
.bo_he span{
    color: #ff4400;
}
.detaOne {
    background: url("../images/deta1.png") no-repeat;
    width: 340px;
    height: 400px;
    float: left;
    margin-top: 18px;
    margin-right: 60px;
}
.detaxq{
    width: 740px;
    height: 310px;
    float: left;
    margin-top: 43px;
}
.detaxq h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #474747;
    margin-bottom: 21px;
}
.detaxq hr{
    width: 740px;
    size: 1px;
    margin-bottom: 31px;
}
.detaxq dt{
    font-size: 16px;
    color: #474747;
    margin-bottom: 32px;
    font-family: 微软雅黑;
}
.detaxq b{
    color: #ff4400;
    font-size: 18px;
    font-weight: bold;
}
.detaxq h5{
    font-size: 16px;
    color: #474747;
    margin-bottom: 32px;
    font-family: 微软雅黑;
    float: left;
}
.detaxq p{
    width: 28px;
    height: 28px;
    border: 1px solid #e0e0e0;
    background: #f1f1f1;
    text-align: center;
    float: left;
    cursor: pointer;
    margin-top: -7px;
}
.detaxq p a {
    font-size: 10px;
    color: #969696;
    line-height: 28px;
}
.detaxq input{
    width: 49px;
    height: 26px;
    font-size: 12px;
    color: #474747;
    line-height: 28px;
    background: white;
    float: left;
    margin-top: -7px;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
    margin-right: -1px;
    text-align: center;
}
.detaxq span{
    margin-left: 8px;
    font-size: 11px;
    color: #949090;
}
.detaxq h2{
    width: 200px;
    height: 40px;
    background: #ff4401;
    text-align: center;
}
.detaxq a{
    font-size: 18px;
    color: white;
    line-height: 40px;
}
.body2{
    width: 785px;
    height: 2836px;
    background: white;
    padding-left: 25px;
    padding-top: 20px;
    display: block;
    margin-top: 30px;
    float: left;
}
.body2 p{
    font-size: 16px;
    color: #474747;
    line-height: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}
.hrline{
    width: 760px;
    height: 2px;
    background: #f1f1f1;
}
.hrline hr{
    width: 64px;
    size: 2px;
    cursor: pointer;
    margin-left: 0px;
}
.tail{
    margin-left: 4px;
    font-size: 14px;
    line-height: 20px;
    font-family: 微软雅黑;
    color: #474747;
    margin-bottom: 21px;
}
.tailxq{
    background: url("../images/xiangqing_03.png") no-repeat;
    width: 760px;
    height: 2163px;
    margin-top: 8px;
}
.body3{
    width: 326px;
    height: 881px;
    padding-top: 17px;
    padding-left: 25px;
    background: white;
    display: block;
    float: left;
    margin-top: 30px;
    margin-left: 39px;
}
.xing1{
    background: url("../images/xing.jpg") no-repeat;
    width: 23px;
    height: 22px;
    position: relative;
    left: 1px;
    margin-right: 8px;
    float: left;
}
.body3 b{
    font-size: 16px;
    color: #474747;
    font-weight: bold;
}
.rim3{
    width: 350px;
    height: 44px;
    margin-top: 15px;
}
.rim3 dt{
    width: 150px;
    height: 41px;
    background: white;
    color: #474747;
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: #f1f1f1;
    text-align: center;
    font-size: 16px;
    line-height: 41px;
    float: left;
}
.rim3 dt:hover{
    border-top-color: #ff4400;
    border-bottom-color: white;
    font-weight: bold;
    color: #ff4400;
}
.rim31{
    margin-left: -1px;
}
.rim_list{
    width: 301px;
    height: 734px;
    display: block;
}
.rim_list dt{
    width: 301px;
    height: 106px;
    margin-top: 25px;
    display: block;
}
.rim_list dt span{
    width: 30px;
    height: 30px;
    border: 1px solid #ffc7b3;
    border-radius: 45px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    margin-right: 16px;
    float: left;
    color: #ff4400;
}
.rim_list dt a{
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #474747;
}
.rim_list dt a img{
    margin-right: 16px;
    float: left;
}
.rim_list dt a:hover{
    color: #ff4400;
}
.rim_list dt p{
    margin-top: 20px;
    font-size: 12px;
    color: #ff4400;
}
.rim_list hr{
    width: 301px;
    size: 1px;
    margin-top: 25px;
}
.leg{
    height: 292px;
    background: #dcdcdc;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}
.leg dt{
    width: 186px;
    height: 233px;
    background: #d2d2d2;
    display: block;
    margin-right: 29px;
    float: left;
    margin-top: 31px;
}
.leg dt h3{
    margin-top: 24px;
    font-size: 16px;
    font-family: 微软雅黑;
    color: #474747;
    line-height: 16px;
    margin-bottom: 14px;
    text-align: center;
}
.leg dt h4{
    font-size: 14px;
    font-family: 微软雅黑;
    color: #707070;
    line-height: 14px;
    margin-bottom: 11px;
    text-align: center;
}
.erwei{
    margin-left: 48px;
    margin-top: 31px;
    width: 233px;
    height: 223px;
    display: block;
    float: left;
}
.erweima{
    width: 208px;
    height: 117px;
    background: url("../images/erweima.jpg") no-repeat;
    position: relative;
    left: 12px;
    top: 10px;
    float: left;
}
.erwei p{
    margin-right: 59px;
}
.erwei h3{
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    color: #474747;
}
.erwei h4{
    font-size: 15px;
    line-height: 15px;
    color: #969696;
    margin-top: 2px;
    float: left;
    margin-left: 14px;
}
.finish{
    height: 109px;
    background: #c9c9c9;
    display: block;
    margin-top: 0px;
    padding-top: 20px
}
.finish dt{
    text-align: center;
    color: #707070;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 16px;
}
.finish a{
    font-size: 14px;
    line-height: 14px;
    color: #707070;
}
.finish p{
    float: right;
}
.finish img{
    position: relative;
    right: 15px;
    bottom: 19px;
    margin-top: -31px;
    margin-left: 0px;
}