
.w1200{
    width: 1200px;
    margin: 0 auto;
}
.head{
    height: 38px;
    background: #f3f3f3;
    display: block;
}
.head1 ul{
    width: 1200px;
    margin: 0 auto;
}
.phone a{
    margin-left: 39px;
    background: transparent;
}
.head1 li{
    height: 38px;
    float: left;
}
.head1{
    font-family: 微软雅黑;
    font-size: 14px;
    line-height: 38px;
    width: 1200px;
    height: 38px;
    margin: 0px auto;
    background: url("../images/phone.jpg") no-repeat;

}
.head1 a{
    float: left;
    margin-right: 28px;
    color: #656565;
}
.head1 p{
    float: right;
    margin-right: 139px;
    color: #656565;
}
.neck{
    height: 92px;
    background: white;
    display: block;
}
.neck a{
    margin-top: 21px;
    float: left;
    margin-right: 177px;
}
.neck p{
    margin-top: 24px;
    float: left;
}

.input1{
    margin-top: 32px;
    margin-left: 53px;
    padding: 0;
    width: 278px;
    height: 25px;
    font-size: 12px;
    padding-top: 2px;
    border: 1px solid #e6e6e6;
    color: #e6e6e6;
}
.input2{
    margin-top: 32px;
    padding: 0;
    border: 2px solid #ff4400;
    height: 29px;
    width: 69px;
    background-color: #ff4400;
    font-size: 16px;
}
.chest{
    height: 43px;
    background-color: #ff4400;
    display: block;
}
.chest dt{
    font-size: 18px;
    line-height:43px;
    float: left;
    width: 135px;
    height: 43px;
    text-align: center;
    color: white;
}
.chest p{
    float: left;
    margin-top: 8px;
}
.chest img{
    margin-left: 86px;
    text-align: center;
}
.chest a{
    margin-left: 19px;
    font-size: 18px;
    color: white;
}
.chest dt:hover{ background: #e53e01}
.xuanqu2  form {
    margin-top: 8px;
    margin-right: 14px;
    float: right;
}
.xuanqu2 select{
    width: 171px;
    height: 28px;
    font-size: 12px;
    color: #474747;
    border: 1px solid #e9e9e9;
}

.leg{
    height: 292px;
    background: #dcdcdc;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}
.leg dt{
    width: 186px;
    height: 233px;
    background: #d2d2d2;
    display: block;
    margin-right: 29px;
    float: left;
    margin-top: 31px;
}
.leg dt h3{
    margin-top: 24px;
    font-size: 16px;
    font-family: 微软雅黑;
    color: #474747;
    line-height: 16px;
    margin-bottom: 14px;
    text-align: center;
}
.leg dt h4{
    font-size: 14px;
    font-family: 微软雅黑;
    color: #707070;
    line-height: 14px;
    margin-bottom: 11px;
    text-align: center;
}
.erwei{
    margin-left: 48px;
    margin-top: 31px;
    width: 233px;
    height: 223px;
    display: block;
    float: left;
}
.erwei img{
    margin-left: 12px;
}
.erwei h3{
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    color: #474747;
}
.erwei h4{
    font-size: 15px;
    line-height: 15px;
    color: #969696;
    margin-top: 2px;
}
.finish{
    height: 109px;
    background: #c9c9c9;
    display: block;
    margin-top: 0px;
    padding-top: 20px
}
.finish dt{
    text-align: center;
    color: #707070;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 16px;
}
.finish a{
    font-size: 14px;
    line-height: 14px;
    color: #707070;
}
.finish p{
    float: right;
}
.finish img{
    position: relative;
    right: 15px;
    bottom: 19px;
    margin-top: -31px;
    margin-left: 0px;
}
.bg{
    height: 1747px;
    background: #f1f1f1;
    display: block;
    padding-top: 30px;
    padding-bottom: 80px;
}
.body{
    height: 1721px;
    background: white;
    display: block;
    padding-top: 26px;
}
.none{
    width: 1140px;
    height: 100px;
    display: block;
}
.xq1{
    margin-left: 30px;
    width: 1140px;
    height: 54px;
    display: block;
}
.xq1 dt{
    width: 161px;
    height: 51px;
    font-size: 18px;
    line-height: 51px;
    color: #474747;
    border-width: 2px 1px 1px 1px;
    border-style: solid;
    border-color: #e9e9e9;
    margin-left: -1px;
    float: left;
    text-align: center;
}
.xq1 dt:hover{
    font-weight: bold;
    color: #ff4400;
    border-color: #ff4400 #e9e9e9 #e9e9e9 #e9e9e9;
}
.xuanqu2{
    width: 1133px;
    height: 45px;
    border-width: 1px;
    border-style: solid;
    border-color: #e9e9e9;
    margin-top: -1px;
    float: left;
    margin-left: 29px;
    background: #fafafa;
    display: block;
}
.up{
     background: url("../images/sheng.jpg") no-repeat;
     width: 9px;
     height: 9px;
     position: relative;
     left: 55px;
     top: 10px;
     z-index: 5;
 }
.down{
    background: url("../images/jiang.jpg") no-repeat;
    width: 9px;
    height: 9px;
    position: relative;
    left: 55px;
    top: 10px;
    z-index: 5;
}
.xuanqu2 dt{
    width: 73px;
    height: 20px;
    margin-left: 16px;
    margin-top: 8px;
    float: left;

}
.xuanqu2 span{
    float: left;
    display: block;
    margin-top: 8px;
    font-size: 12px;
    line-height: 12px;
    color: #474747;
}
.xuanqu2 input{
    margin-top: 8px;
    margin-right: 10px;
    float: left;
    font-family: 微软雅黑;
}
.xuanqu2 img{
    display: block;
    float: left;
    margin-left: 4px;
    margin-top: 10px;
}
.backg{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 100;
    display: none;
}
.login{
    width: 562px;
    height: 285px;
    border: 1px solid #dcdcdc;
    background: white;
    display: none;
    padding-top: 8px;
    padding-right: 8px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -281px;
    margin-top: -142px;
    z-index: 500;
}
.end a{
    margin-left: 100px;
    width: 22px;
    height: 21px;
    background: #c8c8c8;
    color: white;
    float: right;
    text-align: center;
    font-size: 11px;
    line-height: 21px;
}
.log_left{
    width: 192px;
    height: 223px;
    padding-top: 23px;
    font-size: 16px;
    line-height: 49px;
    color: #474747;
    margin-left: 27px;
    float: left;
}
.log_left p{
    margin-left: 27px;
    margin-top: 17px;
    width: 182px;
    height: 182px;
    background: url("../images/loginer.png") no-repeat;
    position: absolute;
    left: 5px;
    top: 64px;
}
.log_right{
    width: 282px;
    height: 223px;
    font-size: 16px;
    color: #474747;
    float: right;
    margin-right: 27px;
    margin-top: 15px;
}
.admin {
    margin-top: 12px;
    background: url("../images/loginper.png") no-repeat;
    float: left;
}
.admin input{
    padding-left: 9px;
    margin-left: 34px;
    font-size: 12px;
    color: #757575;
    width: 236px;
    height: 32px;
    border: 1px solid #c8c8c8;
}
.pass{
    margin-top: 11px;
    background: url("../images/loginsuo.png") no-repeat;
    float: left;
}
.pass input{
    padding-left: 9px;
    margin-left: 34px;
    font-size: 12px;
    color: #757575;
    width: 236px;
    height: 32px;
    border: 1px solid #c8c8c8;
}
.forget{
    width: 278px;
    height: 14px;
    margin-top: 105px;
    font-size: 12px;
    color: #474747;
}
.forget a{
    float: right;
    color: #474747;
}
.loginkey{
    width: 282px;
    height: 40px;
    background: #ff4401;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-top: 18px;
}
.loginkey a{
    color: white;
}
.logindown{
    width: 281px;
    height: 21px;
    margin-top: 9px;
    padding-left: 1px;
    background: url("../images/xinlang.png") no-repeat;
}
.logindown a{
    font-size: 12px;
    color: #474747;
    margin-left: 28px;
    float: left;
    margin-top: 1px;
}
.logindown p a{
    margin-left: 0px;
    float: right;
}
.ad_list{
    width: 1170px;
    height: 1438px;
    display: block;
    padding-left: 30px;
    padding-top: 25px;
}
.ad_list_z{
    width: 208px;
    height: 324px;
    margin-right: 25px;
    float: left;
    margin-bottom: 55px;

}
.ad_z{
    background: url("../images/new.png") no-repeat;
    width: 94px;
    height: 67px;
    position: absolute;
}
.ad_list_z b{
    margin-top: 11px;
    font-size: 12px;
    color: #ff4400;
    font-weight: bold;
}
.ad_list_z a img{
    margin-bottom: 14px;
}
.ad_list_z p a{
    font-size: 13px;
    color: #474747;
    line-height: 21px;
}
.new{
    background: url("../images/new.png") no-repeat;
    width: 94px;
    height: 67px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 100;
    float: left;
}
.page{
    width: 524px;
    height: 48px;
    display: block;
    float: left;
    margin-left: 355px;
}
.page li{
    width: 46px;
    height: 46px;
    background: white;
    font-size: 12px;
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    font-family: 微软雅黑;
    border: 1px solid #ececec;
    color: #474747;
    margin-right: 0px;
    float: left;
    cursor: pointer;
}
.page ul p{
    list-style-type: none;
    height: 48px;
    font-size: 12px;
    line-height: 48px;
    color: #474747;
    float: left;
}
.page ul a{
    margin-left: 14px;
    font-size: 12px;
    line-height: 48px;
    text-align: center;
    color: #474747;
    float: left;
    margin-right: 34px;
}
.page li:hover{
    background: #ff4401;
    color: white;
}
.page p{
    height: 48px;
    font-size: 12px;
    line-height: 48px;
    color: #474747;
    float: left;
}
.page p input{
    width: 32px;
    height: 32px;
    border: 1px solid #ececec;
    float: left;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 4px;
}
.sure{
    width: 94px;
    height: 48px;
    background: #ff4401;
    text-align: center;
    margin-left: 23px;
}
.sure a{
    font-size: 18px;
    line-height: 48px;
    color: white;
    font-family: 微软雅黑;
}
